body{
    background-color: black;
}


h1{
    color: red;
}

h2{
    color: green;
}

h3{
    color: blue;
}

p{
    color: white;
}

img{
    max-width: 20%;
    max-height: 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    color: white;
}